<%= image_tag current_user.picture.url ? current_user.picture.url : "default-profile-image" %>
<h1><a href="/users/<%= current_user.id %>"><%= current_user.name %> (@<%= current_user.username %>)</a></h1>