<footer class="footer">
  <small>
    ALL RIGHTS RESERVED. Eric Gonzalez © 2016
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Source Code", "https://github.com/Twinpair/Twitter_clone" %></li>
    </ul>
  </nav>
</footer>