
  <div class="container" id="footer">
    <b><div class="pull-left fnav">
      <p id="copyright">Copyright © <a href="http://www.eric-gonzalez.com/" target="blank" style="color: blue;">Eric Gonzalez</a>, All Rights Reserved</p>
    </div>
    <div class="fnav">
      <ul class="footer-social">
        <li><a href="https://www.facebook.com/Acquantion-1790591721213320/" target="blank" id="facebook"><i class="fa fa-facebook fa-lg"></i> Facebook</a></li> 
        <li><a href="https://github.com/Twinpair/Acquaintion" target="blank"><i class="fa fa-github fa-lg"></i> Source Code</a></li>           
      </ul>
    </div></b>
  </div>