<footer class="footer">
  <small>
    <a href="http://www.ericgonzalez1994.com" target="blank" >Eric Gonzalez</a> © 2016
  </small>
  <nav>
    <ul>
      <li><a href="/about">About</a></li> 
      <li><a href="https://www.facebook.com/Acquantion-1790591721213320/" target="blank"><i class="fa fa-facebook fa-lg"></i></a></li> 
      <li><a href="https://twitter.com/AcquaintionWeb" target="blank"><i class="fa fa-twitter fa-lg"></i></a></li>
      <li><a href="https://github.com/Twinpair/Twitter_clone" target="blank"><i class="fa fa-github fa-lg"></i> Source Code</a></li>            
    </ul>
  </nav>
</footer>